#map {
    height: 100vh;
    width: 100%;
}

.popup-content {
    background-color: #044004;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.fuel-type {
    color: #ffcc00;
}

.price {
    color: #f2083a;
}

.blink {
    animation: blink-animation 1s infinite; /* Blinking animation */
}

@keyframes blink-animation {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
/* Desktop view adjustments */
@media (min-width: 768px) {
    #map {
        height: 600px;
    }
}
