#map {
<<<<<<< HEAD
    height: 100vh; /* Full viewport height */
    width: 100%; /* Full width */
=======
    width: 100%;
    height: 100vh;
>>>>>>> 22344352a61b31e937cc4a3f5897c96df783240f
}

.popup-content {
    background-color: #044004;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.fuel-type {
    color: #ffcc00;
}

.price {
    color: #f2083a;
}

.blink {
    animation: blink-animation 1s infinite; /* Blinking animation */
}

@keyframes blink-animation {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
/* Desktop view adjustments */
@media (min-width: 768px) {
    #map {
        height: 600px;
    }
}
