#map {
    height: 100vh;
    width: 100%;
}

.leaflet-marker-icon {
  display: block;
  width: 25px;
  height: 41px;
  background-image: url('./download.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 1000;
  border: none;       /* Remove border */
  outline: none;      /* Remove outline */
  box-shadow: none;   /* Remove any box shadow */
}
.leaflet-marker-icon {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}


.popup-content {
    background-color: #044004;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.fuel-type {
    color: #ffcc00;
}

.price {
    color: #f2083a;
}

.blink {
    animation: blink-animation 1s infinite; /* Blinking animation */
}

@keyframes blink-animation {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
/* Desktop view adjustments */
@media (min-width: 768px) {
    #map {
        height: 600px;
    }
}
