/* CSS /* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(39, 93, 43);
    margin: 0;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
    padding: 20px; /* Optional: Add padding for better appearance */
}

#searchInput {
    margin-right: 5px; /* Optional: Adjust spacing between input and button */
}

h1 {
  color: rgb(10 214 20);
  font-size: 40px;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 15px;
  font-size: 18px;
  width: 120%;
}

button {
  padding: 15px 40px;
  font-size: 18px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(94 209 53);
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.2s;
  border: none;
  border-radius: 20px;
  margin-top: 5px;
}

button:hover {
  background-color: rgb(183 236 184); 
}

.leaflet-container {
  height: 100vh;
}
/* Desktop view adjustments */
@media (min-width: 768px) {
  body {
    height: 100vh;
    flex-direction: row;
  }
  #searchInput {
    width: 120%; /* Expand width for desktop */
    margin-right: 5px;
  }
}
